USE [Tenebrosa_Examen]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 17/10/2025 09:13:24 ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Schema [s_AlmacenComercial]    Script Date: 17/10/2025 09:13:24 ******/
CREATE SCHEMA [s_AlmacenComercial]
GO
/****** Object:  Schema [s_VentasComercial]    Script Date: 17/10/2025 09:13:24 ******/
CREATE SCHEMA [s_VentasComercial]
GO
/****** Object:  Schema [sc_Almacen]    Script Date: 17/10/2025 09:13:24 ******/
CREATE SCHEMA [sc_Almacen]
GO
/****** Object:  Schema [sc_Ventas]    Script Date: 17/10/2025 09:13:24 ******/
CREATE SCHEMA [sc_Ventas]
GO
/****** Object:  Rule [R_DESDECERO]    Script Date: 17/10/2025 09:13:24 ******/
CREATE RULE [dbo].[R_DESDECERO] 
AS
@valor >= 0
GO
/****** Object:  Rule [R_NoNegativo]    Script Date: 17/10/2025 09:13:24 ******/
CREATE RULE [dbo].[R_NoNegativo] 
AS
@Valor >=0
GO
/****** Object:  Table [dbo].[Banco]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banco](
	[idBanco] [char](2) NOT NULL,
	[nombreBanco] [varchar](70) NOT NULL,
 CONSTRAINT [PK_Banco] PRIMARY KEY CLUSTERED 
(
	[idBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boleta]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boleta](
	[Documento] [char](9) NOT NULL,
	[Pedido] [char](9) NULL,
	[Cliente] [char](4) NULL,
	[idFecha] [datetime] NULL,
	[Estado] [char](1) NULL,
	[Personal] [char](2) NULL,
	[pagado] [numeric](9, 2) NOT NULL,
	[UNegocio] [char](2) NOT NULL,
	[FormaPago] [char](1) NULL,
 CONSTRAINT [PK_Boleta_1] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[Cliente] [char](4) NOT NULL,
	[Zona] [char](2) NULL,
	[Ruc] [char](11) NULL,
	[Direccion] [char](18) NULL,
	[Saldo] [decimal](9, 2) NULL,
	[credito] [bit] NOT NULL,
	[topeCredito] [numeric](9, 2) NOT NULL,
	[Calificacion] [char](1) NOT NULL,
 CONSTRAINT [PK__CLIENTE__2A4B4B5E] PRIMARY KEY CLUSTERED 
(
	[Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cronograma]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cronograma](
	[NroCuota] [int] NOT NULL,
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Importe] [numeric](9, 2) NULL,
	[Interes] [numeric](9, 2) NULL,
	[IgvInteres] [numeric](9, 2) NULL,
	[feVence] [datetime] NULL,
	[Fepago] [datetime] NULL,
	[estado] [char](1) NOT NULL,
	[idMedioPago] [char](2) NULL,
	[idPuntoPago] [char](2) NULL,
	[idBanco] [char](2) NULL,
 CONSTRAINT [PK__cronograma__625A9A57] PRIMARY KEY CLUSTERED 
(
	[NroCuota] ASC,
	[Documento] ASC,
	[TipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detaBoleta]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detaBoleta](
	[Documento] [char](9) NOT NULL,
	[idProducto] [char](4) NOT NULL,
	[Cantidad] [numeric](9, 2) NULL,
	[Igv] [numeric](9, 2) NULL,
	[PrecUnit] [numeric](9, 2) NULL,
 CONSTRAINT [PK_detaBoleta_1] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC,
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetaContado]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetaContado](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Producto] [char](4) NOT NULL,
	[Cantidad] [numeric](9, 2) NULL,
	[Igv] [numeric](9, 2) NULL,
	[PrecUnit] [numeric](9, 2) NULL,
 CONSTRAINT [PK_DetaContado] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC,
	[TipoDoc] ASC,
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetaCredito]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetaCredito](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Producto] [char](4) NOT NULL,
	[Cantidad] [numeric](9, 2) NULL,
	[Igv] [numeric](9, 2) NULL,
	[PrecUnit] [numeric](9, 2) NULL,
 CONSTRAINT [PK_DetaCredito] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC,
	[TipoDoc] ASC,
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETADOC]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETADOC](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Producto] [char](4) NOT NULL,
	[Cantidad] [numeric](9, 2) NULL,
	[Igv] [numeric](9, 2) NULL,
	[PrecUnit] [numeric](9, 2) NULL,
 CONSTRAINT [PK__DETADOC__3F466844] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC,
	[TipoDoc] ASC,
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detaFactura]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detaFactura](
	[Documento] [char](9) NOT NULL,
	[idProducto] [char](4) NOT NULL,
	[Cantidad] [numeric](9, 2) NULL,
	[Igv] [numeric](9, 2) NULL,
	[PrecUnit] [numeric](9, 2) NULL,
 CONSTRAINT [PK_detaFactura_1] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC,
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALIQUI]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALIQUI](
	[liquidacion] [char](9) NOT NULL,
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[TipoPago] [char](1) NULL,
	[Importe] [decimal](9, 2) NULL,
	[Estado] [char](1) NULL,
 CONSTRAINT [PK__DETALIQUI__4316F928] PRIMARY KEY CLUSTERED 
(
	[liquidacion] ASC,
	[Documento] ASC,
	[TipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detallado]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detallado](
	[idGeneral] [int] NOT NULL,
	[idProducto] [char](4) NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Detallado] PRIMARY KEY CLUSTERED 
(
	[idGeneral] ASC,
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompras]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Producto] [char](4) NOT NULL,
	[Cantidad] [numeric](9, 2) NULL,
	[Igv] [numeric](9, 2) NULL,
	[PrecUnit] [numeric](9, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleRequerimiento]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleRequerimiento](
	[Item] [int] NOT NULL,
	[Tipo] [nchar](10) NULL,
	[Descripcion] [char](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Producto] [char](4) NOT NULL,
	[Cantidad] [numeric](9, 2) NULL,
	[Igv] [numeric](9, 2) NULL,
	[PrecUnit] [numeric](9, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAPEDIDO]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAPEDIDO](
	[Pedido] [char](9) NOT NULL,
	[Producto] [char](4) NOT NULL,
	[Cantidad] [decimal](9, 2) NULL,
	[PrecUnit] [decimal](9, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pedido] ASC,
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTO]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Proveedor] [char](4) NULL,
	[Pedido] [char](9) NULL,
	[Cliente] [char](4) NULL,
	[Fecha] [datetime] NULL,
	[Estado] [char](1) NULL,
	[DocRefer] [char](9) NULL,
	[Personal] [char](2) NULL,
	[pagado] [numeric](9, 2) NOT NULL,
	[UNegocio] [char](2) NOT NULL,
	[FormaPago] [char](1) NULL,
	[marcacion] [char](1) NULL,
 CONSTRAINT [PK__DOCUMENTO__3D5E1FD2] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC,
	[TipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[Documento] [char](9) NOT NULL,
	[Proveedor] [char](4) NULL,
	[Pedido] [char](9) NULL,
	[Cliente] [char](4) NULL,
	[Fecha] [datetime] NULL,
	[Estado] [char](1) NULL,
	[DocRefer] [char](9) NULL,
	[Personal] [char](2) NULL,
	[pagado] [numeric](9, 2) NOT NULL,
	[FormaPago] [char](1) NULL,
 CONSTRAINT [PK_FACTURA_1] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feriados]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feriados](
	[idfecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[finta]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[finta](
	[codigo] [nvarchar](40) NULL,
	[descripcion] [nvarchar](80) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMAPAGO]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMAPAGO](
	[FormaPago] [char](1) NOT NULL,
	[Descripcion] [char](18) NULL,
	[NroDias] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FormaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[General]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[General](
	[idGeneral] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [char](4) NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_General] PRIMARY KEY CLUSTERED 
(
	[idGeneral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JURIDICO]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JURIDICO](
	[Cliente] [char](4) NOT NULL,
	[RAZONSOCIAL] [char](18) NULL,
 CONSTRAINT [PK_JURIDICO] PRIMARY KEY CLUSTERED 
(
	[Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINEA]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINEA](
	[Linea] [char](2) NOT NULL,
	[Descripcion] [char](18) NULL,
	[ComiMayor] [tinyint] NULL,
	[sysUser] [varchar](20) NOT NULL,
	[sysEquipo] [varchar](18) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Linea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIQUIDACION]    Script Date: 17/10/2025 09:13:24 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIQUIDACION](
	[liquidacion] [char](9) NOT NULL,
	[Personal] [char](2) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[liquidacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[Marca] [char](2) NOT NULL,
	[Proveedor] [char](4) NULL,
	[idLinea] [char](2) NULL,
	[Descripcion] [char](18) NULL,
	[sysUsuario] [varchar](25) NOT NULL,
	[sysFecha] [datetime] NOT NULL,
	[sysEquipo] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedioPago]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedioPago](
	[idMedioPago] [char](2) NOT NULL,
	[Descripcion] [varchar](70) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_MedioPago] PRIMARY KEY CLUSTERED 
(
	[idMedioPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetaSectorista]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaSectorista](
	[personal] [char](2) NULL,
	[Mes] [int] NULL,
	[Anual] [int] NULL,
	[Meta] [numeric](38, 4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetasVendedor]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetasVendedor](
	[Anual] [int] NULL,
	[Mes] [int] NULL,
	[Personal] [char](2) NULL,
	[Monto] [numeric](9, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetaVenta]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaVenta](
	[personal] [char](2) NULL,
	[anual] [char](4) NULL,
	[Proyectado] [numeric](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modificacion]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modificacion](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [varchar](20) NULL,
	[campo] [char](15) NULL,
	[ValorHoy] [char](20) NULL,
	[ValorNuevo] [char](20) NULL,
	[Usuario] [char](15) NOT NULL,
	[Equipo] [char](20) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Identificador] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[natural]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[natural](
	[Cliente] [char](4) NOT NULL,
	[Nombre] [char](18) NULL,
	[Apellido] [char](18) NULL,
 CONSTRAINT [PK_natural] PRIMARY KEY CLUSTERED 
(
	[Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[NroCuota] [int] NOT NULL,
	[Documento] [char](9) NOT NULL,
	[Importe] [numeric](9, 2) NULL,
	[feVence] [datetime] NULL,
	[Fepago] [datetime] NULL,
	[estado] [char](1) NOT NULL,
 CONSTRAINT [PK_pagos] PRIMARY KEY CLUSTERED 
(
	[NroCuota] ASC,
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETRO]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETRO](
	[Parametro] [int] IDENTITY(1,1) NOT NULL,
	[Igv] [decimal](8, 2) NULL,
	[TasaInt] [decimal](8, 2) NULL,
	[TasaLegal] [decimal](8, 2) NULL,
	[Fecha] [datetime] NULL,
	[TasaDolar] [decimal](9, 2) NULL,
	[activo] [bit] NOT NULL,
	[Vencidos] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Parametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[Pedido] [char](9) NOT NULL,
	[FormaPago] [char](1) NULL,
	[Personal] [char](2) NULL,
	[Cliente] [char](4) NULL,
	[Fecha] [datetime] NULL,
	[Estado] [char](1) NULL,
	[UnidadNegocio] [char](2) NULL,
	[sysEquipo] [varchar](35) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAL]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL](
	[idPersonal] [char](2) NOT NULL,
	[Nombre] [char](30) NULL,
	[Telefono] [char](7) NULL,
	[Activo] [bit] NOT NULL,
	[Basico] [numeric](9, 2) NULL,
	[mail] [varchar](70) NOT NULL,
	[Email] [varchar](70) NOT NULL,
	[formato] [char](5) NOT NULL,
	[UNegocio] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPersonal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[idProducto] [char](4) NOT NULL,
	[idMarca] [char](2) NULL,
	[Descripcion] [char](30) NULL,
	[StockAc] [int] NULL,
	[StockMax] [int] NULL,
	[StockMin] [int] NULL,
	[PrecVenta] [numeric](9, 2) NULL,
	[PrecCosto] [numeric](9, 2) NULL,
	[Peso] [numeric](9, 2) NULL,
	[ConIgv] [bit] NOT NULL,
	[UniMed] [char](6) NULL,
 CONSTRAINT [PK__PRODUCTO__32E0915F] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoUnegocio]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoUnegocio](
	[UNegocio] [char](2) NOT NULL,
	[Producto] [char](4) NOT NULL,
	[Stockac] [numeric](9, 2) NULL,
 CONSTRAINT [PK_ProductoUnegocio] PRIMARY KEY CLUSTERED 
(
	[UNegocio] ASC,
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[Proveedor] [char](4) NOT NULL,
	[RazonSocial] [char](18) NULL,
	[Direccion] [varchar](40) NULL,
	[email] [varchar](60) NULL,
	[Ruc] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PuntoPago]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuntoPago](
	[idPuntoPago] [char](2) NOT NULL,
	[Descripcion] [varchar](70) NOT NULL,
	[Activo] [bit] NOT NULL,
	[idTienda] [char](2) NOT NULL,
 CONSTRAINT [PK_PuntoPago] PRIMARY KEY CLUSTERED 
(
	[idPuntoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requerimiento]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requerimiento](
	[item] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](70) NULL,
	[Cubo] [varchar](50) NULL,
	[Proyecto] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tienda]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tienda](
	[idTienda] [char](2) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Responsabl] [nchar](10) NULL,
 CONSTRAINT [PK_Tienda] PRIMARY KEY CLUSTERED 
(
	[idTienda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPODOC]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPODOC](
	[TipoDoc] [char](1) NOT NULL,
	[Descripcion] [char](18) NULL,
	[Serie] [char](3) NULL,
	[Numero] [int] NULL,
	[Signo] [smallint] NULL,
	[Unegocio] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNegocio]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNegocio](
	[UNegocio] [char](2) NOT NULL,
	[Descripcion] [char](50) NOT NULL,
	[Responsable] [char](50) NOT NULL,
	[sysEquipo] [varchar](30) NOT NULL,
	[SysFecha] [datetime] NOT NULL,
	[SysUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UNegocio] PRIMARY KEY CLUSTERED 
(
	[UNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentaContado]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaContado](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Proveedor] [char](4) NULL,
	[Pedido] [char](9) NULL,
	[Cliente] [char](4) NULL,
	[idFecha] [datetime] NULL,
	[Estado] [char](1) NULL,
	[Personal] [char](2) NULL,
	[UNegocio] [char](2) NOT NULL,
	[FormaPago] [char](1) NULL,
 CONSTRAINT [PK_VentaContado] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC,
	[TipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentaCredito]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaCredito](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Proveedor] [char](4) NULL,
	[Pedido] [char](9) NULL,
	[idCliente] [char](4) NULL,
	[Fecha] [datetime] NULL,
	[Estado] [char](1) NULL,
	[Personal] [char](2) NULL,
	[UNegocio] [char](2) NOT NULL,
	[FormaPago] [char](1) NULL,
 CONSTRAINT [PK_VentaCredito] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC,
	[TipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xdetadoc]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xdetadoc](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Producto] [char](4) NOT NULL,
	[Cantidad] [numeric](9, 2) NULL,
	[Igv] [numeric](9, 2) NULL,
	[PrecUnit] [numeric](9, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZONA]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONA](
	[idZona] [char](2) NOT NULL,
	[Descripcion] [char](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[idZona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [s_AlmacenComercial].[compras]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [s_AlmacenComercial].[compras](
	[Documento] [char](9) NOT NULL,
	[Fecha] [datetime] NULL,
	[Proveedor] [char](4) NULL,
	[Estado] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [s_VentasComercial].[ventas]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [s_VentasComercial].[ventas](
	[Documento] [char](9) NOT NULL,
	[Cliente] [char](4) NULL,
	[Personal] [char](2) NULL,
	[Fecha] [datetime] NULL,
	[Estado] [char](1) NULL,
	[Pedido] [char](9) NULL,
 CONSTRAINT [PK_ventas] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sc_Almacen].[compras]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sc_Almacen].[compras](
	[Documento] [char](9) NOT NULL,
	[Proveedor] [char](4) NULL,
	[Fecha] [datetime] NULL,
	[Estado] [char](1) NULL,
 CONSTRAINT [PK_compras] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sc_Ventas].[factura]    Script Date: 17/10/2025 09:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sc_Ventas].[factura](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Proveedor] [char](4) NULL,
	[Pedido] [char](9) NULL,
	[Cliente] [char](4) NULL,
	[Fecha] [datetime] NULL,
	[Estado] [char](1) NULL,
	[DocRefer] [char](9) NULL,
	[Personal] [char](2) NULL,
	[pagado] [numeric](9, 2) NOT NULL,
	[UNegocio] [char](2) NOT NULL,
	[FormaPago] [char](1) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF__cliente__credito__5DCAEF64]  DEFAULT ((1)) FOR [credito]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF__cliente__tope__5EBF139D]  DEFAULT ((1200)) FOR [topeCredito]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_Calificacion]  DEFAULT ('A') FOR [Calificacion]
GO
ALTER TABLE [dbo].[cronograma] ADD  CONSTRAINT [DF__cronogram__estad__634EBE90]  DEFAULT ('P') FOR [estado]
GO
ALTER TABLE [dbo].[DOCUMENTO] ADD  DEFAULT (1) FOR [pagado]
GO
ALTER TABLE [dbo].[DOCUMENTO] ADD  CONSTRAINT [DF_DOCUMENTO_UNegocio]  DEFAULT ('01') FOR [UNegocio]
GO
ALTER TABLE [dbo].[LINEA] ADD  DEFAULT (suser_sname()) FOR [sysUser]
GO
ALTER TABLE [dbo].[LINEA] ADD  DEFAULT (host_name()) FOR [sysEquipo]
GO
ALTER TABLE [dbo].[MARCA] ADD  DEFAULT (suser_sname()) FOR [sysUsuario]
GO
ALTER TABLE [dbo].[MARCA] ADD  DEFAULT (getdate()) FOR [sysFecha]
GO
ALTER TABLE [dbo].[MARCA] ADD  DEFAULT (host_name()) FOR [sysEquipo]
GO
ALTER TABLE [dbo].[MedioPago] ADD  CONSTRAINT [DF_MedioPago_Activo]  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [dbo].[MetasVendedor] ADD  DEFAULT ((0)) FOR [Monto]
GO
ALTER TABLE [dbo].[Modificacion] ADD  DEFAULT (suser_sname()) FOR [Usuario]
GO
ALTER TABLE [dbo].[Modificacion] ADD  DEFAULT (host_name()) FOR [Equipo]
GO
ALTER TABLE [dbo].[Modificacion] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[PARAMETRO] ADD  DEFAULT (1) FOR [activo]
GO
ALTER TABLE [dbo].[PARAMETRO] ADD  DEFAULT (2) FOR [Vencidos]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  CONSTRAINT [DF_PEDIDO_sysEquipo]  DEFAULT (host_name()) FOR [sysEquipo]
GO
ALTER TABLE [dbo].[PERSONAL] ADD  DEFAULT (0) FOR [Activo]
GO
ALTER TABLE [dbo].[PERSONAL] ADD  DEFAULT ('rimenri@ucv.edu.pe') FOR [mail]
GO
ALTER TABLE [dbo].[PERSONAL] ADD  DEFAULT ('jprimo@cmp.com.pe') FOR [Email]
GO
ALTER TABLE [dbo].[PERSONAL] ADD  DEFAULT ('PDF') FOR [formato]
GO
ALTER TABLE [dbo].[UNegocio] ADD  CONSTRAINT [DF_UNegocio_Equipo]  DEFAULT (host_name()) FOR [sysEquipo]
GO
ALTER TABLE [dbo].[UNegocio] ADD  CONSTRAINT [DF_UNegocio_SysFecha]  DEFAULT (getdate()) FOR [SysFecha]
GO
ALTER TABLE [dbo].[UNegocio] ADD  CONSTRAINT [DF_UNegocio_SysUsuario]  DEFAULT (suser_sname()) FOR [SysUsuario]
GO
ALTER TABLE [dbo].[Boleta]  WITH CHECK ADD  CONSTRAINT [FK_Boleta_CLIENTE] FOREIGN KEY([Cliente])
REFERENCES [dbo].[CLIENTE] ([Cliente])
GO
ALTER TABLE [dbo].[Boleta] CHECK CONSTRAINT [FK_Boleta_CLIENTE]
GO
ALTER TABLE [dbo].[Boleta]  WITH CHECK ADD  CONSTRAINT [FK_Boleta_PERSONAL] FOREIGN KEY([Personal])
REFERENCES [dbo].[PERSONAL] ([idPersonal])
GO
ALTER TABLE [dbo].[Boleta] CHECK CONSTRAINT [FK_Boleta_PERSONAL]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK__CLIENTE__Zona__47DBAE45] FOREIGN KEY([Zona])
REFERENCES [dbo].[ZONA] ([idZona])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK__CLIENTE__Zona__47DBAE45]
GO
ALTER TABLE [dbo].[cronograma]  WITH CHECK ADD  CONSTRAINT [FK_cronograma_Banco] FOREIGN KEY([idBanco])
REFERENCES [dbo].[Banco] ([idBanco])
GO
ALTER TABLE [dbo].[cronograma] CHECK CONSTRAINT [FK_cronograma_Banco]
GO
ALTER TABLE [dbo].[cronograma]  WITH NOCHECK ADD  CONSTRAINT [FK_cronograma_DOCUMENTO] FOREIGN KEY([Documento], [TipoDoc])
REFERENCES [dbo].[DOCUMENTO] ([Documento], [TipoDoc])
GO
ALTER TABLE [dbo].[cronograma] CHECK CONSTRAINT [FK_cronograma_DOCUMENTO]
GO
ALTER TABLE [dbo].[cronograma]  WITH CHECK ADD  CONSTRAINT [FK_cronograma_MedioPago] FOREIGN KEY([idMedioPago])
REFERENCES [dbo].[MedioPago] ([idMedioPago])
GO
ALTER TABLE [dbo].[cronograma] CHECK CONSTRAINT [FK_cronograma_MedioPago]
GO
ALTER TABLE [dbo].[cronograma]  WITH CHECK ADD  CONSTRAINT [FK_cronograma_PuntoPago1] FOREIGN KEY([idPuntoPago])
REFERENCES [dbo].[PuntoPago] ([idPuntoPago])
GO
ALTER TABLE [dbo].[cronograma] CHECK CONSTRAINT [FK_cronograma_PuntoPago1]
GO
ALTER TABLE [dbo].[detaBoleta]  WITH CHECK ADD  CONSTRAINT [FK_detaBoleta_Boleta1] FOREIGN KEY([Documento])
REFERENCES [dbo].[Boleta] ([Documento])
GO
ALTER TABLE [dbo].[detaBoleta] CHECK CONSTRAINT [FK_detaBoleta_Boleta1]
GO
ALTER TABLE [dbo].[detaBoleta]  WITH CHECK ADD  CONSTRAINT [FK_detaBoleta_PRODUCTO] FOREIGN KEY([idProducto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[detaBoleta] CHECK CONSTRAINT [FK_detaBoleta_PRODUCTO]
GO
ALTER TABLE [dbo].[DetaContado]  WITH CHECK ADD  CONSTRAINT [FK_DetaContado_PRODUCTO] FOREIGN KEY([Producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[DetaContado] CHECK CONSTRAINT [FK_DetaContado_PRODUCTO]
GO
ALTER TABLE [dbo].[DetaContado]  WITH CHECK ADD  CONSTRAINT [FK_DetaContado_VentaContado] FOREIGN KEY([Documento], [TipoDoc])
REFERENCES [dbo].[VentaContado] ([Documento], [TipoDoc])
GO
ALTER TABLE [dbo].[DetaContado] CHECK CONSTRAINT [FK_DetaContado_VentaContado]
GO
ALTER TABLE [dbo].[DetaCredito]  WITH CHECK ADD  CONSTRAINT [FK_DetaCredito_PRODUCTO] FOREIGN KEY([Producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[DetaCredito] CHECK CONSTRAINT [FK_DetaCredito_PRODUCTO]
GO
ALTER TABLE [dbo].[DetaCredito]  WITH CHECK ADD  CONSTRAINT [FK_DetaCredito_VentaCredito] FOREIGN KEY([Documento], [TipoDoc])
REFERENCES [dbo].[VentaCredito] ([Documento], [TipoDoc])
GO
ALTER TABLE [dbo].[DetaCredito] CHECK CONSTRAINT [FK_DetaCredito_VentaCredito]
GO
ALTER TABLE [dbo].[DETADOC]  WITH NOCHECK ADD  CONSTRAINT [FK__DETADOC__534D60F1] FOREIGN KEY([Documento], [TipoDoc])
REFERENCES [dbo].[DOCUMENTO] ([Documento], [TipoDoc])
GO
ALTER TABLE [dbo].[DETADOC] CHECK CONSTRAINT [FK__DETADOC__534D60F1]
GO
ALTER TABLE [dbo].[DETADOC]  WITH NOCHECK ADD  CONSTRAINT [FK__DETADOC__Product__52593CB8] FOREIGN KEY([Producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[DETADOC] CHECK CONSTRAINT [FK__DETADOC__Product__52593CB8]
GO
ALTER TABLE [dbo].[detaFactura]  WITH CHECK ADD  CONSTRAINT [FK_detaFactura_FACTURA1] FOREIGN KEY([Documento])
REFERENCES [dbo].[FACTURA] ([Documento])
GO
ALTER TABLE [dbo].[detaFactura] CHECK CONSTRAINT [FK_detaFactura_FACTURA1]
GO
ALTER TABLE [dbo].[detaFactura]  WITH CHECK ADD  CONSTRAINT [FK_detaFactura_PRODUCTO] FOREIGN KEY([idProducto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[detaFactura] CHECK CONSTRAINT [FK_detaFactura_PRODUCTO]
GO
ALTER TABLE [dbo].[DETALIQUI]  WITH NOCHECK ADD  CONSTRAINT [FK__DETALIQUI__5535A963] FOREIGN KEY([Documento], [TipoDoc])
REFERENCES [dbo].[DOCUMENTO] ([Documento], [TipoDoc])
GO
ALTER TABLE [dbo].[DETALIQUI] CHECK CONSTRAINT [FK__DETALIQUI__5535A963]
GO
ALTER TABLE [dbo].[DETALIQUI]  WITH NOCHECK ADD  CONSTRAINT [FK__DETALIQUI__liqui__5629CD9C] FOREIGN KEY([liquidacion])
REFERENCES [dbo].[LIQUIDACION] ([liquidacion])
GO
ALTER TABLE [dbo].[DETALIQUI] CHECK CONSTRAINT [FK__DETALIQUI__liqui__5629CD9C]
GO
ALTER TABLE [dbo].[Detallado]  WITH CHECK ADD  CONSTRAINT [FK_Detallado_General] FOREIGN KEY([idGeneral])
REFERENCES [dbo].[General] ([idGeneral])
GO
ALTER TABLE [dbo].[Detallado] CHECK CONSTRAINT [FK_Detallado_General]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_compras] FOREIGN KEY([Documento])
REFERENCES [sc_Almacen].[compras] ([Documento])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_compras]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_ventas] FOREIGN KEY([Documento])
REFERENCES [s_VentasComercial].[ventas] ([Documento])
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVentas_ventas]
GO
ALTER TABLE [dbo].[DETAPEDIDO]  WITH CHECK ADD FOREIGN KEY([Pedido])
REFERENCES [dbo].[PEDIDO] ([Pedido])
GO
ALTER TABLE [dbo].[DETAPEDIDO]  WITH NOCHECK ADD  CONSTRAINT [FK__DETAPEDID__Produ__5812160E] FOREIGN KEY([Producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[DETAPEDIDO] CHECK CONSTRAINT [FK__DETAPEDID__Produ__5812160E]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH NOCHECK ADD  CONSTRAINT [FK__DOCUMENTO__Clien__5070F446] FOREIGN KEY([Cliente])
REFERENCES [dbo].[CLIENTE] ([Cliente])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK__DOCUMENTO__Clien__5070F446]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH NOCHECK ADD  CONSTRAINT [FK__DOCUMENTO__Pedid__4F7CD00D] FOREIGN KEY([Pedido])
REFERENCES [dbo].[PEDIDO] ([Pedido])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK__DOCUMENTO__Pedid__4F7CD00D]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH NOCHECK ADD  CONSTRAINT [FK__DOCUMENTO__Prove__4E88ABD4] FOREIGN KEY([Proveedor])
REFERENCES [dbo].[PROVEEDOR] ([Proveedor])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK__DOCUMENTO__Prove__4E88ABD4]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH NOCHECK ADD  CONSTRAINT [FK__DOCUMENTO__TipoD__5165187F] FOREIGN KEY([TipoDoc])
REFERENCES [dbo].[TIPODOC] ([TipoDoc])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK__DOCUMENTO__TipoD__5165187F]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_FORMAPAGO] FOREIGN KEY([FormaPago])
REFERENCES [dbo].[FORMAPAGO] ([FormaPago])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_FORMAPAGO]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_PERSONAL] FOREIGN KEY([Personal])
REFERENCES [dbo].[PERSONAL] ([idPersonal])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_PERSONAL]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_UNegocio] FOREIGN KEY([UNegocio])
REFERENCES [dbo].[UNegocio] ([UNegocio])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_UNegocio]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_CLIENTE] FOREIGN KEY([Cliente])
REFERENCES [dbo].[CLIENTE] ([Cliente])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_CLIENTE]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_PERSONAL] FOREIGN KEY([Personal])
REFERENCES [dbo].[PERSONAL] ([idPersonal])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_PERSONAL]
GO
ALTER TABLE [dbo].[JURIDICO]  WITH CHECK ADD  CONSTRAINT [FK_JURIDICO_CLIENTE] FOREIGN KEY([Cliente])
REFERENCES [dbo].[CLIENTE] ([Cliente])
GO
ALTER TABLE [dbo].[JURIDICO] CHECK CONSTRAINT [FK_JURIDICO_CLIENTE]
GO
ALTER TABLE [dbo].[LIQUIDACION]  WITH CHECK ADD FOREIGN KEY([Personal])
REFERENCES [dbo].[PERSONAL] ([idPersonal])
GO
ALTER TABLE [dbo].[MARCA]  WITH CHECK ADD FOREIGN KEY([idLinea])
REFERENCES [dbo].[LINEA] ([Linea])
GO
ALTER TABLE [dbo].[MARCA]  WITH CHECK ADD FOREIGN KEY([Proveedor])
REFERENCES [dbo].[PROVEEDOR] ([Proveedor])
GO
ALTER TABLE [dbo].[natural]  WITH CHECK ADD  CONSTRAINT [FK_natural_CLIENTE] FOREIGN KEY([Cliente])
REFERENCES [dbo].[CLIENTE] ([Cliente])
GO
ALTER TABLE [dbo].[natural] CHECK CONSTRAINT [FK_natural_CLIENTE]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK_pagos_FACTURA] FOREIGN KEY([Documento])
REFERENCES [dbo].[FACTURA] ([Documento])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK_pagos_FACTURA]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO__Cliente__4D94879B] FOREIGN KEY([Cliente])
REFERENCES [dbo].[CLIENTE] ([Cliente])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK__PEDIDO__Cliente__4D94879B]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD FOREIGN KEY([FormaPago])
REFERENCES [dbo].[FORMAPAGO] ([FormaPago])
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD FOREIGN KEY([Personal])
REFERENCES [dbo].[PERSONAL] ([idPersonal])
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_UNegocio] FOREIGN KEY([UnidadNegocio])
REFERENCES [dbo].[UNegocio] ([UNegocio])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_UNegocio]
GO
ALTER TABLE [dbo].[PERSONAL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_UNegocio] FOREIGN KEY([UNegocio])
REFERENCES [dbo].[UNegocio] ([UNegocio])
GO
ALTER TABLE [dbo].[PERSONAL] CHECK CONSTRAINT [FK_PERSONAL_UNegocio]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH NOCHECK ADD  CONSTRAINT [FK__PRODUCTO__Marca__4AB81AF0] FOREIGN KEY([idMarca])
REFERENCES [dbo].[MARCA] ([Marca])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK__PRODUCTO__Marca__4AB81AF0]
GO
ALTER TABLE [dbo].[ProductoUnegocio]  WITH CHECK ADD  CONSTRAINT [FK_ProductoUnegocio_PRODUCTO] FOREIGN KEY([Producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[ProductoUnegocio] CHECK CONSTRAINT [FK_ProductoUnegocio_PRODUCTO]
GO
ALTER TABLE [dbo].[ProductoUnegocio]  WITH CHECK ADD  CONSTRAINT [FK_ProductoUnegocio_UNegocio] FOREIGN KEY([UNegocio])
REFERENCES [dbo].[UNegocio] ([UNegocio])
GO
ALTER TABLE [dbo].[ProductoUnegocio] CHECK CONSTRAINT [FK_ProductoUnegocio_UNegocio]
GO
ALTER TABLE [dbo].[PuntoPago]  WITH CHECK ADD  CONSTRAINT [FK_PuntoPago_Tienda] FOREIGN KEY([idTienda])
REFERENCES [dbo].[Tienda] ([idTienda])
GO
ALTER TABLE [dbo].[PuntoPago] CHECK CONSTRAINT [FK_PuntoPago_Tienda]
GO
ALTER TABLE [dbo].[VentaContado]  WITH CHECK ADD  CONSTRAINT [FK_VentaContado_CLIENTE] FOREIGN KEY([Cliente])
REFERENCES [dbo].[CLIENTE] ([Cliente])
GO
ALTER TABLE [dbo].[VentaContado] CHECK CONSTRAINT [FK_VentaContado_CLIENTE]
GO
ALTER TABLE [dbo].[VentaCredito]  WITH CHECK ADD  CONSTRAINT [FK_VentaCredito_CLIENTE] FOREIGN KEY([idCliente])
REFERENCES [dbo].[CLIENTE] ([Cliente])
GO
ALTER TABLE [dbo].[VentaCredito] CHECK CONSTRAINT [FK_VentaCredito_CLIENTE]
GO
ALTER TABLE [dbo].[cronograma]  WITH CHECK ADD  CONSTRAINT [CK_cronograma] CHECK  (([ESTADO]='A' OR [ESTADO]='C' OR [ESTADO]='P'))
GO
ALTER TABLE [dbo].[cronograma] CHECK CONSTRAINT [CK_cronograma]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [CK_DOCUMENTO_2] CHECK  (([estado]='C' OR [estado]='P' OR [estado]='A'))
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [CK_DOCUMENTO_2]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [CK_DOCUMENTO_3] CHECK  (([PAGADO]>=(0)))
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [CK_DOCUMENTO_3]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [AFINAR] CHECK  (([estado]='A' OR [estado]='P' OR [estado]='C'))
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [AFINAR]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [CK_PRODUCTO_1] CHECK  (([STOCKAC]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [CK_PRODUCTO_1]
GO
